/* line 106, icon/*.png */
.icon-sprite, .icon-cube, .icon-dribble, .icon-engine, .icon-facebook, .icon-linkedin, .icon-plus, .icon-search, .icon-tumblr, .icon-twitter {
  background: url('http://project/workflow/icons/../images/icon-sc713ba6c82.png') no-repeat;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cube {
  background-position: 0 -176px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-dribble {
  background-position: 0 -128px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-engine {
  background-position: 0 0;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 -432px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-linkedin {
  background-position: 0 -336px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-plus {
  background-position: 0 -240px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search {
  background-position: 0 -64px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tumblr {
  background-position: 0 -384px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -288px;
}

/* Icon */
/* line 8, ../icons/sass/screen.scss */
.icon48 {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
}

/* line 16, ../icons/sass/screen.scss */
.icon64 {
  display: inline-block;
  width: 64px;
  height: 64px;
  text-indent: -9999px;
}
